<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>GIDClientID</key>
<string>1010986907178-s8ckurj79jcu41a56fdk1ng7bnah1bgm.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.1010986907178-s8ckurj79jcu41a56fdk1ng7bnah1bgm</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
